<!DOCTYPE html>

<html>

<head>
		<meta charset="UTF-8" />
		<title>Ciberseguridade: clases de ataques e mecanismos de protección e defensa</title>
		<link rel="stylesheet" type="text/css" href="./mihoja.css" />
</head>

<body>El Instituto Nacional de Ciberseguridad de España (INCIBE), entidad dependiente del Ministerio para la Transformación Digital y la Función Pública, a través de la Secretaría de Estado de Telecomunicaciones e Infraestructuras Digitales, ha iniciado un nuevo ciclo de su Sistema de Gestión Integrado con la renovación de tres certificaciones clave: la ISO 27001, de seguridad de la información, el Esquema Nacional de Seguridad (ENS), y la ISO 9001, de gestión de la calidad.

		<tr>
			<td colspan="2"> <h1>Clases de ataques</h1> </td>
		</tr>
		<tr>
			<td colspan="2">
				Nuestra historia <br>
				Otro párrafo
			</td>

<body>Esta triple renovación refleja el compromiso constante de INCIBE con la mejora continua, la excelencia operativa y las buenas prácticas en materia de calidad y seguridad de la información que implementa a través de una metodología de mejora continua. INCIBE cumple con su deber de renovación del certificado del Esquema Nacional de Seguridad (ENS), lo cual constituye una obligación para entidades del sector público, y está orientada a garantizar la protección de la información y la prestación segura de los servicios digitales que INCIBE ofrece a ciudadanos, menores, empresas, profesionales y operadores críticos, además de la provisión de servicios de seguridad por terceros. Por otro lado, INCIBE apuesta por subir su nivel de autoexigencia con las certificaciones ISO 27001 e ISO 9001, las cuales son normas internacionales de carácter voluntario que acreditan la implantación de sistemas de gestión eficaces y seguros.

		<tr>
			<td colspan="2"> <h1>Mecanismos de protección e defensa</h1> </td>
		</tr>
		<tr>
			<td colspan="2">
				Elección 1 <br>
				Elección 2
			</td>
		</tr>
	
</body>Con el mantenimiento de estas certificaciones, INCIBE consolida su papel como organismo de referencia en materia de ciberseguridad, reforzando la confianza en sus procesos y servicios, y asegurando la protección de los activos de información frente a las crecientes amenazas del entorno digital. Por ello, desde INCIBE se continúa avanzando en su compromiso con la calidad, la seguridad y la mejora continua de sus procesos, garantizando unos estándares de gestión que refuerzan su misión de impulsar un entorno digital más seguro y confiable para todos.
 
</html>
